/*Main Background and login */
.main{
  position: relative;
  width: 1440px;
  height: 800px;
} 
.background-image img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.text-and-login-container{
  position: relative;
  width: 1230px;
  height: 204px;
  top: 476px;
  left: 70px;
  gap: 38px;
}
.text-container{
  display: grid;
  grid-template-columns: auto;
  width: 1230px;
  height: 118px;
}
.date-tile{
  width: 1230px;
  height: 78px;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  color: #FFFEF8;
  letter-spacing: -.05px;
  text-transform: uppercase;
}

.sign-up-text{
  Width:1230px;
  Height:32px;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #FFFEF8;
  text-transform: capitalize;
}
.login-input-container{
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content:start;
  align-items: end;
  width: 721px;
  height: 48px;
  gap: 4px;
  bottom: 0;
  left: 0;
}
.login-input-container input{
  width: 300px;
  height: 48px;
  border: 1px #FFFDF2;
  Padding:0px 12px 0px 12px;
  gap: 10px;
  padding: 10px;
}

.login-input-container input::placeholder{
  height: 24px;
  opacity: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.login-input-container button{
  width: 113px;
  height: 48px; 
  border-radius: 0px 12px 12px 0px;
  padding:12px 28px 12px 28px;
  gap:10px;
  font-weight: 500; 
  font-size: 16px;
  line-height: 24px;
  align-items: Center;
  border: none;
}
.login-input-container button:hover{
  cursor: pointer;
  background-color: gainsboro;
  border: black solid 1px;
}

@media only screen and (max-width: 426px){
  .main{
    position: relative;
    width: 390x;
    height: 788px;
   /* padding:482px 0px 47px 0px;*/
  } 
  .background-image img{
    position: absolute;
    width: 390x;
    height: 100%;
    object-fit:cover;
  }
  .text-and-login-container{
    position: absolute;
    width: 310px;
    height: 327px;
    gap: 37;
    top: 390px;
    left:45px;
  }
  .text-container{
    display: grid;
    grid-template-columns: auto;
    width: 310px;
    height: 138px;
    gap: 4px;
  }
  .date-tile{
    width: 310px;
    height: 102px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFEF8;
    letter-spacing: -0.5px;
    text-transform: uppercase;
  }
  .sign-up-text{
    Width:310px;
    Height:32px;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #FFFEF8;
    text-transform: capitalize;
  }
  .login-input-container{
    display: flex;
    position: absolute;
    flex-direction:column;
    width: 310px;
    height: 152px;
    gap: 4px;
    bottom: 0;
    left: 0;
  }
  .login-input-container input{
    width: 310px;
    height: 48px;
    border: 1px #FFFDF2;
    Padding:0px 12px 0px 12px;
    gap: 10px;
    padding: 10px;
  }
  .login-input-container button{
    width: 310px;
    height: 48px; 
    border-radius: 0px 0px 12px 12px;
    padding:12px 28px 12px 28px;
    gap:10px;
    font-weight: 500; 
    font-size: 16px;
    line-height: 24px;
    align-items: Center;
    border: none;
  }
  
}